
body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  }

.game{
  text-align-last: center;
  margin-top: 10%;
}

.minesweeper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.block {
  background: #cecece;
  border: 1px solid black;
  border-radius: 18px;
  float: left;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  color: #333333;
  font-weight: 600;
  margin: 2px
}
  
.cell:focus{
  outline: none;
}

.hidden {
  background: #333333;
}


.is-flag,
.is-mine {
  color: #fc543c;
}

.error{
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
  color: red;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}